# Sample Run

A simple example to show how to input and output data from this package.  
Note: the import command from an outside folder would be different.

In [6]:
from turbojet import TurboJet

In [5]:
values = {
    'ta':216.7,
    'pa':18750,
    'n_d':0.97,
    'gamma_d':1.4,
    'n_c':0.85,
    'gamma_c':1.37,
    'n_b':1,
    'gamma_b':1.35,
    'n_t':0.9,
    'gamma_t':1.33,
    'n_n':0.98,
    'gamma_n':1.36,
    'prc':30,
    'pc_fuel':45000,
    'cp_fuel':1.110,
    'r':288.3,
    't04':1600,
    'u_in':251.38231444355824
    }

In [7]:
jato = TurboJet(values)

In [9]:
jato.sumarise()

                     0
cp_comb       1.110000
gamma_b       1.350000
gamma_c       1.370000
gamma_d       1.400000
gamma_n       1.360000
gamma_t       1.330000
n_b           1.000000
n_c           0.850000
n_d           0.970000
n_n           0.980000
n_t           0.900000
p02       29674.830041
p03      890244.901227
p04      890244.901227
p05      205315.934991
p06      205315.934991
pa        18750.000000
pc_comb   45000.000000
prc          30.000000
t02         248.013150
t03         687.349061
t04        1600.000000
t05        1160.664089
t06        1160.664089
ta          216.700000
tf          615.978555
uf         1078.304658
ui          251.382314